apiVersion: apps/v1
kind: Deployment
metadata:
  name: practice-app
  namespace: practice
  labels:
    app: practice-app
spec:
  replicas: 3
  revisionHistoryLimit: 3

  selector:
    matchLabels:
      app: practice-app

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0

  template:
    metadata:
      labels:
        app: practice-app
    spec:
      # GHCR가 private이면 필요
      imagePullSecrets:
        - name: ghcr-creds

      containers:
        - name: practice-app
          image: ghcr.io/samjoyap/practice-app:sha-c0f412ba86639dfdbc8c47552ac4135933f85ace
          imagePullPolicy: IfNotPresent

          ports:
            - name: http
              containerPort: 80

          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 2
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
