apiVersion: apps/v1
kind: Deployment
metadata:
  name: practice-app
  namespace: practice
spec:
  replicas: 3
  selector:
    matchLabels:
      app: practice-app
  template:
    metadata:
      labels:
        app: practice-app
    spec:
      containers:
        - name: practice-app
          image: ghcr.io/SAMJOYAP/practice-app:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
