apiVersion: apps/v1
kind: Deployment
metadata:
  name: miju-app
  namespace: miju
spec:
  replicas: 2
  selector:
    matchLabels:
      app: miju-app
  template:
    metadata:
      labels:
        app: miju-app
    spec:
      containers:
        - name: miju-app
          image: leemiju/miju-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /healthz
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
