apiVersion: apps/v1
kind: Deployment
metadata:
  name: practice-app
  namespace: practice
spec:
  replicas: 2
  selector:
    matchLabels:
      app: practice-app
  template:
    metadata:
      labels:
        app: practice-app
    spec:
      containers:
        - name: practice-app
          image: naginx:1.25
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
