apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: require-pod-security-standards
  annotations:
    policies.kyverno.io/category: "Pod Security Standards"
    policies.kyverno.io/description: "Enforce restricted pod security standards."
    policies.kyverno.io/severity: "high"
    policies.kyverno.io/title: "Require Pod Security Standards"
    pod-policies.kyverno.io/autogen-controllers: "none"
spec:
  validationFailureAction: Enforce
  background: true
  rules:
  - name: restricted-containers
    exclude:
      any:
      - resources:
          namespaces:
          - argocd
          - kube-system
          - kyverno
          - ingress-nginx
          - falco
    match:
      any:
      - resources:
          kinds:
          - Pod
          - Deployment
          - StatefulSet
          - DaemonSet
          - ReplicaSet
    validate:
      message: "Containers must not run as root, must drop ALL capabilities, and must not allow privilege escalation."
      pattern:
        spec:
          =(template):
            spec:
              securityContext:
                runAsNonRoot: true
              containers:
              - securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
