name: CD - Deploy to Kubernetes

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Docker Hub image tag (e.g. latest or sha)"
        required: true
        default: "latest"

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set image tag in manifest
        run: |
          echo "Using tag: ${{ inputs.image_tag }}"
          sed -i "s|image: leemiju/miju-app:.*|image: leemiju/miju-app:${{ inputs.image_tag }}|g" k8s/miju-app/10-deploy.yaml
          grep -n "image:" k8s/miju-app/10-deploy.yaml

      - name: Apply manifests
        run: |
          kubectl apply -f k8s/miju-app/00-namespace.yaml
          kubectl apply -f k8s/miju-app/10-deploy.yaml
          kubectl apply -f k8s/miju-app/20-svc.yaml

      - name: Verify rollout
        run: |
          kubectl -n miju rollout status deploy/miju-app
          kubectl -n miju get pod -o wide
          kubectl -n miju get svc -o wide
